* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: space-evenly;
}

.logo {
  /* hi his a comment test */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border: 1.5px solid transparent;
  margin-right: 0px;
  padding-top: 4px;
}

.img1 {
  width: 130px;
  height: auto;
  /* padding-top: 4px;
  padding-left: 2px;
  padding-right: 5px;
  padding-bottom: 5px; */
}

.logo:hover {
  border: 1.5px solid white;
}

.address {
  color: white;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  border: 1.5px solid transparent;
  padding: 8px 10px;
  padding-top: 4px;
}

.address-font {
  font-size: 10px;
  color: #cccccc;
  text-indent: 19px;
  white-space: nowrap;
  padding-top: 5px;
}

.address-logo {
  display: flex;
  align-items: center;
  padding-top: 2px;
}
.address:hover {
  border: 1.5px solid white;
}

.search-bar {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
  flex: 1;
  min-width: 150;
  max-width: 700px;
}

.select:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.select-inputbox {
  display: flex;
  height: 38px;
}

.input-box {
  flex: 1;
  width: 600px;
}

.search-icon {
  display: flex;
  align-items: center;
  color: white;
  font-size: 26px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(237, 175, 18);
  height: 36px;
  width: 39.9px;
  cursor: pointer;
}
.search-icon:hover {
  background-color: rgba(237, 175, 18, 0.91);
}

.country {
  height: 60px;
  display: flex;
  margin-right: 37px;
}

.logo1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-weight: bold;
  border: 1.5px solid transparent;
}
.logo-pic {
  width: 22px;
  padding-right: 5px;
}
.logo1:hover {
  border: 1.5px solid white;
}

.signin {
  color: white;
  height: 60px;
  padding-top: 20px;
  border: 1.5px solid transparent;
  margin-right: 45px;
}

.sign-in {
  font-size: 12px;
}

.account {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.signin:hover {
  border: 1.5px solid white;
}

.return-order {
  color: white;
  height: 60px;
  padding-top: 20px;
  border: 1.5px solid transparent;
  margin-right: 37px;
}

.return {
  font-size: 12px;
}

.order {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.return-order:hover {
  border: 1.5px solid white;
}

.cart {
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.cart-span {
  font-size: 15px;
  font-weight: bold;
  padding-top: 15px;
}

.panel {
  height: 39px;
  background-color: #0a1724;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.space-1 {
  width: 870px;
  background-color: #0a1724;
  height: 39px;
}

.hero-section {
  background-image: url(hero_image.jpg);
  height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-comm {
  margin-bottom: 30px;
  height: 30px;
  background-color: white;
  width: 95%;
  text-align: center;
  padding-top: 5px;
  font-size: 15.5px;
}

.amazon-in {
  text-decoration: none;
  color: blue;
}

.shop-section {
  display: flex;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}
.box {
  height: 400px;
  width: 23%;
  background-color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}

.h1 {
  padding: 16px 0px 16px 67px;
}

.box1-img {
  background-image: url(box1_image.jpg);
  background-size: cover;
  height: 299px;
  margin: 0px 20px 12px 20px;
}

.box a {
  text-decoration: none;
  padding-left: 8px;
  color: blue;
}

.h2 {
  padding: 16px 0px 16px 30px;
}

.box2-img {
  background-image: url(box2_image.jpg);
  background-size: cover;
  height: 299px;
  margin: 0px 20px 12px 20px;
}

.h3 {
  padding: 16px 0px 16px 117px;
}

.box3-img {
  background-image: url(box3_image.jpg);
  background-size: cover;
  height: 299px;
  margin: 0px 20px 12px 20px;
}

.h4 {
  padding: 16px 0px 16px 94px;
}

.box4-img {
  background-image: url(box4_image.jpg);
  background-size: cover;
  height: 299px;
  margin: 0px 20px 12px 20px;
}

.shop-section2 {
  display: flex;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}
.shop-section2 .box {
  margin-top: 0;
}

.h5 {
  padding: 16px 0px 16px 117px;
}

.box5-img {
  background-image: url(box5_image.jpg);
  background-size: cover;
  height: 299px;
  margin: 0px 20px 12px 20px;
}

.h6 {
  padding: 16px 0px 16px 127px;
}

.box6-img {
  background-image: url(box6_image.jpg);
  background-size: cover;
  height: 299px;
  margin: 0px 20px 12px 20px;
}

.h7 {
  padding: 16px 0px 16px 150px;
}

.box7-img {
  background-image: url(box7_image.jpg);
  background-size: cover;
  height: 299px;
  margin: 0px 20px 12px 20px;
}

.h8 {
  padding: 16px 0px 16px 139px;
}

.box8-img {
  background-image: url(box8_image.jpg);
  background-size: cover;
  height: 299px;
  margin: 0px 20px 12px 20px;
}

.foot-panel1 {
  height: 35px;
  background-color: #314961;
  color: white;
  text-align: center;
  padding-top: 13px;
}

ul a {
  display: block;
  line-height: 29px;
}

.foot-panel2 {
  color: white;
  height: 350px;
  background-color: #0a1724;
  display: flex;
  justify-content: space-evenly;
  padding-top: 17px;
}

ul p {
  font-weight: bold;
  font-size: 19px;
}
.foot-panel3 {
  background-color: #0a1724;
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-x {
  height: 60px;
  width: 110px;
  background-size: cover;
}

.foot-panel4 {
  height: 90px;
  background-color: #0f1111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
